---
import SectionTitle from "../components/SectionTitle.astro";
---

<div class="cpragma-contact container">
    <div class="row-contact row">
        <div class="row-contact__col row-contact__col--txt">
            <SectionTitle
                txtTop="(Hablemos)"
                title="Haz que el compliance se convierta en <span>tu ventaja competitiva</span>"
                theme="dark"
            />
            <div class="info-contact row">
                <div class="info-contact__col">
                    <h4>Dirección</h4>
                    <p>Almirante Pastene N°333, oficina 402, Providencia, Región Metropolitana</p>
                </div>
                <div class="info-contact__col">
                    <a href="mailto:contacto@cpragma.com">contacto@cpragma.com</a>
                    <a href="tel:56222354082">+56 2 2235 4082</a>
                </div>
            </div>
        </div>
        <div class="row-contact__col row-contact__col--form">
            <form method="POST" action="/api/send-mail">
                <div class="box-input">
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
                </div>
                <div class="box-input">
                    <input type="text" id="empresa" name="empresa" placeholder="Empresa" required>
                </div>
                <div class="group-input">
                    <input type="tel" id="telefono" name="telefono" placeholder="Teléfono" required>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="box-input">
                    <textarea id="mensaje" name="mensaje" rows="5" placeholder="Mensaje" required></textarea>
                </div>
                <button class="btn-form" type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>