<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <title>Linkedin</title>
    <path d="M5.41923 7.89217H0.404297V23.8845H5.41923V7.89217Z" fill="black"/>
    <path d="M18.9853 7.54549C18.8004 7.52238 18.604 7.51083 18.4075 7.49927C15.5996 7.38372 14.0166 9.04766 13.462 9.76408C13.3117 9.96051 13.2424 10.0761 13.2424 10.0761V7.93837H8.44702V23.9307H13.2424H13.462C13.462 22.3014 13.462 20.6837 13.462 19.0544C13.462 18.1762 13.462 17.298 13.462 16.4198C13.462 15.3337 13.3811 14.1781 13.9242 13.1844C14.3864 12.3524 15.2183 11.9364 16.1543 11.9364C18.9275 11.9364 18.9853 14.4439 18.9853 14.675C18.9853 14.6866 18.9853 14.6981 18.9853 14.6981V24H24.0002V13.5657C24.0002 9.99518 22.1861 7.89214 18.9853 7.54549Z" fill="black"/>
    <path d="M2.91189 5.82379C4.52008 5.82379 5.82379 4.52009 5.82379 2.91189C5.82379 1.3037 4.52008 0 2.91189 0C1.30369 0 0 1.3037 0 2.91189C0 4.52009 1.30369 5.82379 2.91189 5.82379Z" fill="black"/>
</svg>