---
const bgServiceHero = '/images/bg-services.webp';
---

<div class="service-hero" style={`background-image: url(${bgServiceHero})`}>
    <div class="container">
        <div class="service-hero-title">
            <h1>Impulsamos el crecimiento de tu organización integrando la <span>cultura del compliance</span></h1>
        </div>
    </div>
</div>
