---
import SectionTitle from '../components/SectionTitle.astro';
---

<div class="service-accordion">
    <div class="container">
        <SectionTitle 
            txtTop="(Servicios)"
        />
    </div>
</div>
