---
const bgServiceHero = '/images/bg-services.webp';

import { getNotionTexts } from '../lib/notion';
import { notionDatabases } from '../lib/notionConfig';

const text = await getNotionTexts(notionDatabases.servicios);
---

{text.slice().reverse().map((t) => (
    <div class="service-hero" style={`background-image: url(${bgServiceHero})`}>
        <div class="container">
            <div class="service-hero-title">
                <h1>{t.herroText} <span>{t.herroTexti}</span></h1>
            </div>
        </div>
    </div>

    <div class="service-accordion">
        <div class="container">
            <div class="txt-top-section light">
                <span>{t.textTopServices}</span>
            </div>
        </div>
    </div>
))}